/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'designer';
    src: url('assets/iconfont/iconfont.ttf') format('truetype');
}
  
.iconfont {
    font-family: "designer";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}